@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    cursor: default;
}

body {
    background-color: var(--cor_principal);
}

main {
    padding: 0 50px;
}

:root {
    /* CORES BACKGROUND*/
    --cor_principal: #0b1d22;

    /* CORES FONTE */
    --cor_principal_fone: white;

    /* TAMANHO FONTES */
    /* TAMANHO PC */

    --icones_medios: 40px;

    --titulos_grandes: 25px;
    --titulos_medios: 15px;

    

    /* FONTE NEGRITO */
    --negrito_medio: 600;


    /* TAMANHO DOS DESTAQUES */
    --tam_dest: 460px;
    
    /* animacao */
    --anim_botao: scale: 1.13; ;
}

/* ----- NAVEGACAO ----- */

.navegacao {
    width: 100%;
    height: 60px;

    background-color: var(--cor_principal);

    color: var(--cor_principal_fone);

    padding: 0px 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & * {
        display: flex;
        cursor: pointer;
    }


    & .nav_icones {
        gap: 30px;
        font-size: var(--icones_medios);

        & img {
            width: var(--icones_medios);

            &:hover {
                scale: 1.1;
            }
        }

        & i:hover {
            scale: 1.1;
        }
    }

    & .nav_opcoes {
        gap: 20px;
        font-size: var(--titulos_medios);

        & h1:hover {
            scale: 1.13;
            transition: 0.1s;
        }
    }
}

/* ----- BANNER ----- */

.destaques {
    width: 100%;
    height: var(--tam_dest);

    position: relative;


    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    & .opcoes_destaques {
        height: 50PX;
        width: 100%;

        padding: 0 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        z-index: 2;

        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        color: white;
        /* background-color: rebeccapurple; */

        & i {
            font-size: 50px;
            cursor: pointer;
        }
    }

    /* & h2 {
        color: white;
        position: absolute;
        top: 2.5%;
        left: 2%;
        font-size: clamp(var(--titulos_medios), 2vw, var(--titulos_grandes));
        font-weight: var(--negrito_medio);
    } */
}

.conteudo {
    /* teste */
    position: relative;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.pesquisa {
    margin-top: calc(var(--tam_dest) - 8%);
    position: absolute;

    width: 65%; 
    height: 180px; 

    background-color: white; 

    border-radius: 30px;
    z-index: 2;
}